body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: beige;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: none;
    background-color: burlywood;
    border-radius: 10px;
}

#playerTwo {
    display: none;
}